__pycache__/
*.py[cod]
*$py.class

../venv
venv/

.DS_Store

docker-compose.yml
docker-compose.override.yml
.dockerignore

*.log

*.pot
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.tox/
.pytest_cache/

pip-log.txt
pip-delete-this-directory.txt

.idea/
*.iml
*.iws