{% extends 'my_app/base.html' %}

{% block title %}{{ song.title }}{% endblock %}

{% block content %}
    <h2>{{ song.title }}</h2>
    <p>
    {{ song.body }}
    </p>
    <p>
    <i>{{ song.published }} by {{ song.author.first_name }}</i>
    </p>
    <div>
    {% with comments.count as total_comments %}
        <h3>
        {{ total_comments }} комментарий(я)
        </h3>
    {% endwith %}
    </div>
    <div>
    {% for comment in comments %}
        <p>Комментарий от {{ comment.author.first_name }}</p>
        <p>{{comment.created}}</p>
        <p>{{comment.body}}</p>
    {% empty %}    
        <p> Пока нет комментариев </p>
    {% endfor %}
    </div>
    {% if user.is_authenticated %}
    {% include "my_app/song/includes/comment_form.html" %}
    {% else %}
        Пожалуйста, <a href="{% url 'accounts:login_view' %}">войдите</a> в аккаунт, чтобы оставить коммент.
    {% endif %}
{% endblock %}
